/* Team Details */
/* Vishwakarma, Himanshu | Marquez, Andrea */
/* 1002240465 | 1001515535 */


.main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 100px;
}

iframe {
    border: none;
    width: 600px;
    height: 400px;
    border-radius: 8px;
}

.contact-info{
    width: 300px;
}

.contact-form {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.contact-form input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor:auto;
    margin: 5px;
}
.contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor:auto;
    margin: 5px;
}
.contact-form button {
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.contact-form button:hover {
    background-color: #999;
}
/*
@media (max-width: 768px) {
    .map-container iframe {
        height: 300px; /* Adjust the map height for mobile devices 
    }

    .main {
        flex-direction: column; /* Stack the sections vertically on small screens 
        padding: 15px;
    }

    .contact-info,
    .map-container {
        flex: 1 1 100%; /* Make both sections full-width on small screens 
    }

    h3, h4 {
        font-size: 1em;
    }
}*/