/* Team Details */
/* Vishwakarma, Himanshu | Marquez, Andrea */
/* 1002240465 | 1001515535 */

/* fonts used */
/* Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
/* Colors: (hex form): #333; #000, #fff, #808080, #4e4e4e*/

.prod-detail-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.prod-sm-image-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  max-width: 60px;
}

.prod-bg-image-container {
  flex: 2;
  margin: 5px;
  max-width: fit-content;
}

#big-img {
  border-radius: 4px;
  max-width: 400px;
  /* align-self:flex-start; */
}

.imgs {
  padding: 5px;
  background-color: white;
  max-width: 50px;
  margin: 5px 10px;
  border-radius: 2px;
}

.imgs:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}

.prod-desc-act-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  margin: 5px;
  /* max-width: ; */
}

.prod-desc-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: fit-content;
  max-height: fit-content;
}


.desctxt {
  max-height: fit-content;
  /* max-width: fit-content; */
}

.prod-actions {
  /* ma/rgin: ; */
  display: flex;
  max-width: 200px;
}

.act-btn {
  flex: 1;
  margin: 20px 5px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  /* max-width: fit-content; */
}

.act-btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  background-color: rgb(98, 97, 97);
}

#buy_p,
#arrow {
  flex: 1;
}

#arrow,
#cart {
  max-width: 20px;
  margin-left: 5px;
}

.prod-title {
  font-weight: 600;
  font-size: large;
}

.prod-stock {
  color: rgb(0, 255, 85);
}
.prod-price {
  font-weight: 600;
  font-size: large;
  color: rgb(0, 0, 0);
}
